---
import { Image } from "astro:assets";

interface Props {
	user: string;
	name: string;
	items: Array<{
		name: string;
		textContent: string;
		href: string | undefined;
	}>;
	image: {
		src: ImageMetadata;
		alt: string;
	};
}

const { user, name, items, image } = Astro.props;

const maxLength = items
	.filter((item) => item.name)
	.reduce((max, item) => Math.max(max, item.name.length), 0);
const textMaxLength = items
	.filter((item) => item.textContent)
	.reduce((max, item) => Math.max(max, item.textContent.length), 0);
const extraSpaces = 3;
const dashes = maxLength + textMaxLength + extraSpaces + 1;
---

<div id="terminal" data-user={user}>
	<div id="terminalContent">
		<pre>[{user}]$ whoami</pre>
		<div id="fetch-row">
			<Image id="img" src={image.src} alt={image.alt} />
			<pre>
{name}
{"-".repeat(dashes)}
{items.map(item =>
	<p>{item.name}:{" ".repeat(maxLength - item.name.length + extraSpaces)}{item.href && <a href={item.href} rel="noopener" target="_blank">{item.textContent}</a>}{!item.href && <span>{item.textContent}</span>}</p>
)}</pre>
		</div>
		<pre>[{user}]$ fetch-music</pre>
		<music-display
			nowPlayingApi="https://music-display.mck.is/now-playing"
			websocketUrl="wss://music-display.mck.is/now-playing-ws"></music-display>
	</div>
	<pre id="input">[{user}]$ <span id="typed" /><span id="caret">_</span></pre>
</div>

<script>
	import { onEnterKey } from "./terminal/terminal.ts";

	function onKeyPressed(event: KeyboardEvent) {
		const typed = document.getElementById("typed")!;
		const caret = document.getElementById("caret")!;
		if (event.key === "Enter") {
			onEnterKey(typed.textContent!);
		} else if (event.key === "Backspace") {
			typed.textContent = typed.textContent!.slice(0, -1);
		} else {
			if (event.key.length === 1 && event.key.charCodeAt(0) >= 32) {
				typed.textContent += event.key;

				// on space, prevent scrolling
				if (event.key === " ") {
					event.preventDefault();
				}
			}
		}
		caret.style.opacity = "1";
	}

	document.addEventListener("keydown", onKeyPressed);
</script>

<style is:inline>
	music-display {
		margin: 0 auto;
	}

	#terminal {
		background: #24273a7a;
		padding: 1rem;
		border: 2px solid var(--base-below-below);
		border-radius: 0.5rem;
		font-size: 1.1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		backdrop-filter: blur(8px);

		p {
			margin: 0;
		}

		pre {
			margin: 0;
		}

		a,
		a:visited {
			text-decoration: none;
			color: var(--accent-2);
		}

		a:hover,
		a:focus {
			text-decoration: underline;
			color: var(--accent);
		}
	}

	#terminalContent {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		min-width: 32rem;
		max-height: 32rem;
		overflow-y: auto;
	}

	#fetch-row {
		display: flex;
		flex-direction: row;
	}

	#img {
		width: 10rem;
		height: 10rem;
		margin-right: 1rem;
		margin-left: 0;
		border-radius: 0.4rem;
	}

	#caret {
		animation: caretToggle 1.5s infinite;
		opacity: 1;
	}

	music-display {
		min-height: calc(100px + 1.6rem);
	}

	@keyframes caretToggle {
		0% {
			opacity: 1;
		}
		49% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	@media (max-width: 600px) {
		#terminal {
			font-size: 0.9rem;
		}

		#img {
			width: 8rem;
			height: 8rem;
		}
	}

	@media (max-width: 500px) {
		#fetch-row {
			flex-direction: column;
			gap: 0.5rem;
		}
	}
</style>
