---
import "../styles/text.css";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">;

const { body, data } = Astro.props;
const post = data;
---

<Layout title={post.title} description={post.description}>
	<main transition:animate="fade">
		{
			!post.noHeader && (
				<div class="title">
					<h1>{post.title}</h1>

					<p>
						{post.description && <i>{post.description}</i>}
						<br />
						{post.published && (
							<>
								Published on <FormattedDate date={post.published} />.
							</>
						)}
						{post.updated && (
							<>
								Last updated on
								<FormattedDate date={post.updated} />.
							</>
						)}
						{body.split(/\s+/).length} words.
						<br />
						{post.tags && (
							<>
								Tags:
								{post.tags.map((tag, i) => (
									<>
										<a href={`/tags/${tag}`}>{tag}</a>
										{i < post.tags!.length - 1 && " | "}
									</>
								))}
							</>
						)}
					</p>
					<hr />
				</div>
			)
		}

		<slot />
	</main>
</Layout>

<style>
	main {
		margin: 1rem auto;
		width: 95ch;
		background: var(--base);
		border: 1px solid var(--accent);
		border-radius: 0.5rem;
	}
</style>
