---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, published, updated } = Astro.props;
---

<Layout title={title} description={description}>
	<article>
		<div class="title">
			{
				published &&
				(<div class="date">
					<FormattedDate date={published} />
					{
						updated && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updated} />
							</div>
						)
					}
				</div>)
			}
			<h1>{title}</h1>
			<hr />
		</div>

		<slot />
	</article>
</Layout>
